# Ignore any __pychache__
src/ccalnoir/ccalnoir/__pycache__
src/ccalnoir/ccalnoir/computational_cancer_biology/__pycache__
src/ccalnoir/ccalnoir/machine_learning/__pycache__
src/ccalnoir/ccalnoir/mathematics/__pycache__
src/ccalnoir/ccalnoir/support/__pycache__
